body{
    margin: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 70vh 30vh;
    grid-template-areas: 
    "menu main"
    "footer footer";
}
#menu{
    background-color: cyan;
    grid-area: menu;
}
#main{
    background-color: magenta;
    grid-area: main;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer{
    background-color: yellow;
    grid-area: footer;
}
#kw0,#kw1,#kw2{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    background-color: black;
}