body {
    margin: 0;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100vh;
    grid-template-areas: "inputSide cardSide";
    font-family: monospace;
    background-color: #272a31;
}

#inputSide {
    grid-area: inputSide;
    text-align: center;
    font-size: 1.2vw;
}

#inputSide input{
    background-color: #0d0e11;
    color: #f4f9d9;
}

#inputSide p{
    color: #f4f9d9;
}

#inputSide input#holder,#inputSide input#number{
    height: 50px;
    width: 300px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
}

#inputSide input#CVC,#inputSide input#exDate{
    height: 50px;
    width: 200px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
}


#cardSide {
    grid-area: cardSide;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chooseBackground button img{
    aspect-ratio: 856 / 539.8;
    height: 10vh;
}
#chooseBackground{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    gap: 10px;
    justify-content: center;
}

#chooseBackground button{
    background-color: #0d0e11;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chooseColor{
    height: 5%;
}
#chooseColor input[type='color']{
    background-color: #0d0e11;
    border: none;
    height: 120%;    
}

.card {
    aspect-ratio: 856 / 539.8;
    width: 75%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    font-size: 250%;

}

.card.is-flipped {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    -webkit-backface-visibility: hidden;
}

.cardFace--front {
    background-color: rgb(83, 94, 189);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 5%;
}

#cardChip img{
    width: 10%;
    margin-top: 18%;
    margin-left: 10%;
}

#contactless img{
    position: fixed;
    right: 8%;
    top: 16%;
    width: 10%;
}

#cardNumber{
    text-align: center;
    font-size: 4vw;
}

#cardExDate{
    font-size: 2.5vw;
    margin-top: 3%;
    margin-left: 40%;
}

#cardHolder{
    font-size: 2.5vw;
    margin-top: 2%;
    margin-left: 10%;
}

#cardLogo img{
    width: 25%;
    position: fixed;
    bottom: 2%;
    right: 2%;
}

.cardFace--back {
    background-color: rgb(194, 199, 236);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    border-radius: 5%;
}

#magneticLine{
    margin-top: 5%;
    width: 100%;
    height: 20%;
    background-color: black;
}

#cardCVCLine{
    display: flex;
    margin-top: 8%;
    margin-left: 20%;

}